@inherits LayoutComponentBase

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/chat-styles.css" />
    <link rel="stylesheet" href="Components/Layout/MainLayout.razor.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>
<body>
    @Body

    <script src="_framework/blazor.web.js"></script>
    <script src="js/chat.js"></script>
    <script src="js/voiceRecorder.js"></script>
</body>
</html>
